*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}


body{
    background-color: rgb(10, 9, 9);
}

a{
    text-decoration: none;
}

header{
    height: 100px;
    width: 100%;
    background-color: black;
}

nav{
    display: flex;
    height: 100%;
    justify-content: space-around;    
    align-items: center;
}

nav h1{
    font-size: 2.6rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}

nav h1 a{
    font-family: 'Oswald', sans-serif;
    color: white;
}

nav img{
    height: 40px;
    width: 40px;
}

main{
    height: auto;
    width: 100%;

}

.main-section-form{
    height: auto;
    width: 100%;
    margin: 20px 0;
}

.main-section-form form{
    min-height: 400px;
    width: 100%;
    font-size: 2rem;
}

.section-form-cuenta{
    display: flex;
    justify-content: center;
}

.form-container-fotoperfil{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 3px solid tomato;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 2px black;
}

.form-input-fotoperfil{
    position: absolute;
    height: 300px;
    width: 250px;
    opacity: 0;
}
.form-container-fotoperfil p{
    text-align: center;
    height: 45px;
    width: 200px;
    margin: 10px 10px;
    background-color: tomato;
    border-radius: 10px;
}