*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: rgb(254, 63, 29);
}
img{
    height: 40px;
    width: 40px;
}
body{
    display: grid;
    background-color: rgb(10, 9, 9);
}
header{
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
}



main{
    width: 100%;
    height: 700px;
    background-color: rgb(10, 9, 9);
}
.main-section-login{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    z-index: 1;
    border-radius: 50px;
    border: 1px solid white;
}
.main-section-login h1{
    text-align: center;
    margin: 30px 0;
    font-weight: 600;
    font-size: 3rem;
    color: white;
}
.section-container-login{
    display: flex;
    height: 280px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px auto;

}

.section-container-login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: aliceblue;
}
.section-container-login form label{
    color: white;
}
.section-container-login form input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 1.8rem;
}

.section-login-cuenta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.8rem;
    color: white;
}


footer{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 150px;
    align-items: center;
    font-size: 1.2rem;
    background-color: black;
}

.footer-ul-redes{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
    justify-content: space-around;
    align-items: center;
}

footer ul a{
    color: white;
}
ul li{
    color: white;
}
.footer-ul-redes li{
    display: flex;
    flex-direction: column;

}

.footer-ul-copyrigth{
    text-align: center;
    margin: 20px 0 10px 0;
    list-style: none;
}














