*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: auto;
    width: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

img{
    height: 50px;
    width: 50px;
}

.inactive{
    display: none;
}

header{
    height: 100px;
    width: 100%;
}


.header-nav-opciones{
    position: fixed;
    display: flex;
    height: 100px;
    width: 100%;
    font-size: 1rem;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254, 63, 29);
    color: white;
    
    /* border-bottom: 1px solid black; */
    box-shadow: 0 0 4px 0 black;
}
.header-nav-opciones h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.header-nav-opciones img{
    height: 40px;
    width: 40px;
    margin: 0 15px 0 15px;
}

.nav-container-modal{
    position: fixed;
    opacity: 0.8;
    width: 100%;
    height: inherit;
    z-index: 1;
    background-color: black;
}




main{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(252, 124, 101);
}

/* LISTA DE OPCIONES QUE SE ABRE SOLO DESDE DISPOSITIVOS MOBILES */
.main-opciones-lista{
    position: fixed;
    overflow: unset;
    height: 100vh;
    width: 100%;
    right: 0;
    top:10;
    font-size: 3rem;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px black;
    text-align: justify;
    border-radius: 0px 0 0 10px;
    background-color: rgb(244, 70, 6);
}
.main-opciones-lista p{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    margin: 30px 0;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 0px rgb(20, 20, 20);
}
.main-opciones-lista a{
    color: white;
    margin: auto 0;
}

.main-contenedor-productos{
    height: auto;
    width: 100%;
    z-index: 0;
    justify-content: space-around;
}


/* TARJETA DE LOS PRODUCTOS */
.cards{
    width: 100%;
    height: auto;
}

.product-card{
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: center;
    box-shadow: 0 0 9px 0 black;
    background-color: rgb(248, 72, 41);
}

.product-card p{
    font-size: 2rem;
    color: white;
    margin: 0;
}

.product-card img{
    width:  100%;
    height: 250px;
    object-fit: cover;
}
.product-card figure img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.productinfo{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0 0;
}
.productinfo figure img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 0 0 9px 0 black;
}
.parrafo-nombre{
    font-weight: 500;
}


/* CARRITO DE LA CANTIDAD DE PRODUCTOS SELECCIONADOS  */
.main-carrito-compras{
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    bottom: 0;
    margin: 0 0 10% 70%;
    z-index: 0;
}

.main-carrito-compras .carrito-compras{
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 75px;
    background-color: rgb(222, 119, 55);
    border-radius: 50%;
    box-shadow: 3px 4px 2px 3px black; 
    justify-content: center;
    align-items: center;
}
.main-carrito-compras .carrito-compras img{
    margin: 0 0 10px 0;
}
.main-carrito-compras .carrito-compras p{
    width: 40px;
    font-size: 2rem;
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: red;
    border: 1px solid black;
    box-shadow: 0 1px 1px 0 black;
}
/*INTERFAZ DE LOS PRODUCTOS SELECCIONADOS EN EL CARRITO*/
.main-carrito-lista{
    position: fixed;
    width: 100%;
    height: auto;
    top: 100px;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.carrito-lista-products{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 2;
    margin: 0 auto;
    border:1px solid black;
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
}


.carrito-lista-products .carrito-lista-tacha{
    position: absolute;
    right: 0;
    margin: 10px 20px 0 0;
}

.carrito-lista-descripcion h1{
    margin: 40px auto;
    text-align: center;
    font-size: 2rem;
}

.carrito-lista-descripcion p{
    margin: 40px 30px;
    color: black;
    text-align: justify;
}


/*DESCRIPCION DEL PRODUCTO SELECCIONADO*/
.main-producto-detalles{
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    z-index: 2;
}

.modal-producto-detalle{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    z-index: 2;
    background-color: black;
}
.producto-detalles-descripcion{
    display: flex;
    position: fixed;
    height: 400px;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 63, 29);
    z-index: 2;
    box-shadow: 0 0 5px 0 black;
}

.producto-descripcion-cabera{
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    font-size: 2rem;
    top: 0;
    box-shadow: 0 0 4px 0 black;
}
.producto-descripcion-cuerpo{
    overflow-y: scroll;
    height: auto;
    padding: 15px;
    text-align: justify;
    font-size: 1.8rem;
}


/*footer*/
footer{
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    min-height: 220px;
    align-items: center;
    font-size: 1.2rem;

    box-shadow: 0 0 4px 0 rgb(14, 13, 13);
    background-color: rgb(254, 63, 29);
}

.footer-ul-redes{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
    justify-content: space-around;
    align-items: center;
}

footer ul a{
    color: white;
}
ul li{
    color: white;
}
.footer-ul-redes li{
    display: flex;
    flex-direction: column;

}

.footer-ul-copyrigth{
    text-align: center;
    margin: 20px 0 10px 0;
}

