*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    height: auto;
    width: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: auto;
    width: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

img{
    height: 50px;
    width: 50px;
}

.inactive{
    display: none;
}

header{
    height: 100px;
    width: 100%;
}


.header-nav-opciones{
    display: flex;
    height: 100px;
    width: 100%;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    color: white;
}

.header-nav-opciones img{
    height: 40px;
    width: 40px;
    margin: 0 15px 0 15px;
}




main{
    height: auto;
    width: 100%;
}

.main-opciones-lista{
    position: absolute;
    height: 400px;
    width: 280px;
    top: 10;
    right: 0;
    color: white;
    text-align: justify;
    font-size: 3rem;
    border-radius: 0px 0 0 10px;
    background-color: rgb(244, 70, 6);
}
.main-opciones-lista p{
    margin: 40px 0 0 10px;
}
.main-opciones-lista a{
    color: white;
}

.main-contenedor{
    height: 200px;
    width: 200px;
}











